input {
    height: 1.7rem;
    border-radius: 0.3rem;
    background-color: $form-bg;
    border: $border;
    color: $text-black;
    padding: 0 0.5rem;
    text-align: center;
}

select {
    @extend input;
    min-width: 8rem;
}

.btn {
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    // border: 2px solid $primary;
    border: none;
    color: #fff;
    background-color: $primary;
    border-radius: .3rem;
    cursor: pointer;

    &:hover {
        font-weight: 600;
    }
}

.inputForm {
    color: $text-gray;
    font-weight: 500;
    font-size: 1rem;
    flex: 8;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .inputArea {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.5rem;
        }
        
        .type {
            .radioBtn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-right: 1rem;

                
                input {
                    cursor: pointer;
                    margin: 0 .5rem;
                    
                    &:nth-child(3) {
                        margin-left: 1rem;
                    }
                }
            }



            span {
                font-size: .9rem;
                color: $text-black;
            }
        }

        .date {
            input {
                min-width: 10rem;
            }
        }
        .amount {
            width: 100%;
            input {
                width: 100%;
                height: 2.3rem;
                font-size: 1rem;
                font-weight: 600;
                color: $primary;

                &::placeholder {
                    color: $text-gray;
                }
            }
        }

        .note {
            @include va("center");
            width: 100%;
            flex-direction: column;

            label {
                width: 100%;
            }
            textarea {
                width: 90%;
                resize: none;
                background-color: $form-bg;
                border: $border;
                padding: .5rem;
                margin-top: .5rem;
                font-size: 1rem;
                border-radius: .3rem;
                
            }
        }

        button {
            margin-top: 2rem;
        }
        
    }
}
