.main {
    display: flex;
    flex: 2;
    height: 100%;

    .main-wrapper {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    
        .balance {
            @include va("center");
            flex: 2;
            width: 100%;
            flex-direction: column;
            border-bottom: $border;
            
            h1 {
                margin: .5rem;
                color: $text-black;
            }
            h3 {
                font-size: rem;
                font-weight: 500;
                margin-top: 0;
                color: #b4b4b4;
            }
        }

        .form {
            flex: 8;

        }
    }
}