.topbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: center;

    .topbar-wrapper {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            @include va("center");
            font-weight: 500;
            width: 2.4rem;
            height: 2.4rem;
            background: linear-gradient(135deg, #ffe082, #ffab00);
            border-radius: 50%;
            
            
            svg {
                font-size: xx-large;
                color: white;
            }
        }
    }

}